form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: ;
    margin-top: 30vh;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
}

body
{
    background: url("../image/vac.jpg")  ;
}